*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

$grey: #444;

body{
    background: #111;
    header{
        nav{
            width: 100%;
            border-bottom: .5px solid $grey;
            padding: 15px;
            margin-bottom: 20px;
            h3{
                color: white;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
    .wordle-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        section{
            display: flex;
            gap: 5px;
            div{
                height: 65px;
                width: 65px;
                border: 2px solid $grey;
                color: white;
                font-family: "Inter", sans-serif;
                text-transform: uppercase;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &.correct{
                    background: #6aaa64;
                }
                &.close{
                    background: rgb(220, 204, 61);
                }
                &.incorrect{
                    background: #333;
                }
            }
        }
    }
}