@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    background: rgb(22, 22, 22);
    color: white;
}

.wrapper{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.word-wrapper{
    display: flex;
    gap: .5rem;
}

.letter-box{
    display: flex;
    border: 2px solid rgb(61, 61, 61);
    max-height: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.active{
    border: 2px solid rgb(92, 92, 92);
    animation: bounce .2s ease;
}

.green{
    background: rgb(82, 155, 82);
    border: 2px solid rgb(82, 155, 82);
}

.yellow{
    background: rgb(192, 172, 55);
    border: 2px solid rgb(192, 172, 55);
}

.black{
    background: rgb(99, 99, 99);
    border: 2px solid rgb(99, 99, 99);
}