@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter+Tight:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #111;
}
body header {
  position: relative;
  z-index: 10;
}
body header .settings {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
body header .settings ion-icon {
  color: white;
  transition: all 0.2s ease;
}
body header .settings ion-icon.open {
  transform: rotate(360deg);
}
body header .settings ion-icon:hover {
  cursor: pointer;
}
body header nav {
  width: 100%;
  border-bottom: 0.5px solid #444;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #111;
}
body header nav h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Calistoga", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}
body header nav h3 ion-icon {
  position: absolute;
  top: -10px;
  right: -20px;
  font-size: 30px;
  color: rgb(101, 219, 255);
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(-10deg);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
}
body .keyboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body .keyboard-container .keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  gap: clamp(0.1rem, 1vw, 0.5rem);
  position: relative;
}
body .keyboard-container .keyboard .row {
  display: flex;
  gap: clamp(0.1rem, 1vw, 0.5rem);
}
body .keyboard-container .keyboard .row section {
  height: clamp(35px, 10vw, 50px);
  width: clamp(25px, 8vw, 40px);
  font-size: clamp(10px, 3vw, 16px);
  color: white;
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
}
body .keyboard-container .keyboard .row section.correct {
  background: #6aaa64;
  border-color: #6aaa64;
}
body .keyboard-container .keyboard .row section.close {
  background: rgb(220, 204, 61);
  border-color: rgb(220, 204, 61);
}
body .keyboard-container .keyboard .row section.incorrect {
  background: #333;
  border-color: #333;
}
body .keyboard-container .keyboard .row section:active {
  filter: brightness(80%);
}
body .keyboard-container .keyboard .row section.enter {
  width: auto;
  padding: 10px;
}
body .keyboard-container .keyboard .row section.backspace {
  font-size: clamp(15px, 5vw, 25px);
}
body .settings-menu {
  padding-top: 2px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1;
  height: 500px;
  width: 300px;
  border: 0.5px solid #444;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .settings-menu .button {
  font-family: "inter", sans-serif;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  pointer-events: auto;
  align-self: center;
  margin: 20px;
}
body .settings-menu .button:hover {
  cursor: pointer;
}
body .settings-menu.closed {
  height: 0px;
  padding: 0px;
}
body .settings-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  user-select: none;
  margin: 20px;
}
body .settings-menu ul li {
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.315);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
body .settings-menu ul li h4 {
  font-weight: 300;
  font-family: "inter", sans-serif;
}
body .settings-menu ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
body .settings-menu ul li #slider {
  -webkit-appearance: none; /* For Chrome, Safari, and Opera */
  -moz-appearance: none; /* For Firefox */
  appearance: none;
  width: 100%;
  height: 7px; /* Default height for the track */
  background: transparent; /* Default background color for the track */
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set opacity */
  transition: opacity 0.15s ease-in-out; /* Smooth transition */
}
body .settings-menu ul li #slider::-moz-range-thumb {
  -webkit-appearance: none; /* For Chrome, Safari, and Opera */
  -moz-appearance: none; /* For Firefox */
  appearance: none;
  background: pink;
}
body .modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.2s ease;
  pointer-events: none;
}
body .modal-container.hidden .modal-wrapper {
  height: 0px;
}
body .modal-container.hidden .modal-wrapper::after {
  opacity: 0;
}
body .modal-container .modal-wrapper {
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
body .modal-container .modal-wrapper::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.2s ease;
}
body .modal-container .modal {
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: scaleY(1) translate(-50%, 50%);
  height: 400px;
  width: clamp(320px, 60vw, 500px);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.233);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
body .modal-container .modal header {
  text-align: center;
  font-family: "Inter", sans-serif;
}
body .modal-container .modal header h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
body .modal-container .modal header h3 {
  color: rgb(201, 201, 201);
  font-weight: 300;
}
body .modal-container .modal .button {
  font-family: "inter", sans-serif;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  pointer-events: auto;
}
body .modal-container .modal .button:hover {
  cursor: pointer;
}
body .wordle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
body .wordle-container section {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5px;
}
body .wordle-container section div {
  width: 65px;
  aspect-ratio: 1/1;
  border: 2px solid #444;
  color: white;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}
body .wordle-container section div.filled {
  border: 2px solid rgb(117, 117, 117);
}
body .wordle-container section div.correct {
  background: #6aaa64;
  border-color: #6aaa64;
}
body .wordle-container section div.close {
  background: rgb(220, 204, 61);
  border-color: rgb(220, 204, 61);
}
body .wordle-container section div.incorrect {
  background: #333;
  border-color: #333;
}

/*# sourceMappingURL=styles.css.map */
